Options +Includes

# For now redirect this location to the homepage
RedirectMatch ^/download http://serf.apache.org/#download

# Simple issue redirector
RedirectMatch ^/issue[^A-Za-z0-9]?(\d+)$ https://issues.apache.org/jira/browse/SERF-$1
